/* mobile first version under */

.hero-image img {
  min-height: 400px;
}

.card-project {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-top: 20px;
}

/* bokse + billede */
.donationsområder {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding: 16px;
}

.donationsområder img {
  width: 100%;
  height: auto;
  display: block;
}

.danmarkskort-wrapper {
  order: -1;
}

/* hele den store boks udenom bokse + billede */
.donationsområder-section {
  border: 1px solid #000000;
  border-radius: 14px;
  margin-top: 20px;
  margin-bottom: 40px;
  overflow: hidden;
}

/* grøn boks med tekst "donationsområder i hele danmark*/
.donationsområder-title-wrapper {
  background: #1e3d2f;
  padding: 20px;
  border-radius: 0;
}

.donationsområder-title-wrapper h2 {
  color: white;
  margin: 0;
}

/* boks "Din støtte gør en forskel */
.støtte-container {
  display: grid;
  grid-template-columns: 44px 1fr;
  gap: 16px;
  align-items: center;
  margin-top: 40px;
  background: #ede8e0;
  padding: 18px;
  border-radius: 14px;
  margin-bottom: 40px;
  font-size: 12px;
}

.støtte-container img {
  width: 44px;
  height: auto;
}

.støtte-container h2 {
  margin: 0 0 6px 0;
  color: #1e3d2f;
  font-size: 14px;
}

.støtte-container p {
  margin: 0;
  color: #1e3d2f;
}

/* tablet */
@media screen and (min-width: 800px) {
  .card-project {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
  }

  .donationsområder {
    padding: 24px;
  }

  .donationsområder-title-wrapper {
    padding: 24px;
  }

  .støtte-container {
    grid-template-columns: 60px 1fr;
    gap: 24px;
    padding: 24px;
    font-size: 18px;
  }

  .støtte-container h2 {
    font-size: 20px;
  }

  .støtte-container img {
    width: 60px;
  }
}

/* computer */
@media screen and (min-width: 1024px) {
  .card-project {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 48px;
    margin-top: 20px;
  }

  .donationsområder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding: 20px;
  }

  .donationsområder-section {
    border: 1px solid #000000;
    border-radius: 14px;
    margin-top: -40px;
    margin-bottom: 70px;
  }

  .donationsområder-title-wrapper {
    background: #1e3d2f;
    padding: 30px;
    border-radius: 14px;
  }

  .støtte-container {
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 80px;
    margin-top: 70px;
    background: #ede8e0;
    padding: 20px;
    border-radius: 14px;
  }

  .støtte-container h2 {
    margin-top: 8px;
    color: #1e3d2f;
  }
}
